# JS
package.json
package-lock.json
test_files/node_modules/
node_modules/

# Python
lua/LazyDeveloperHelper/python/__pycache__/
*.pyc
/requirements.txt

# Vim.org and GitHub releases file
dist/

# --- Rust
test_files/test_cargo/target/

# Conan trash
*.cmake
conanbuild*
conanrun*
deactivate_*
CMakePresets.json

# Gradle trash
test_files/test_gradle/
!.test_files/test_gradle/test.kts
!./test_files/test_gradle/build.gradle.kts
!./test_files/test_gradle/settings.gradle.kts

# Dart trash
test_files/test_dart/pubspec.lock
test_files/test_dart/.dart_tool/
# trash
pyrightconfig.json
lua/LazyDeveloperHelper/python/python_installers/.pyre/
test_files/test_poetry/.pyre/
